<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout
                    pattern="%d{HH:mm:ss.SSS} [%tid] %highlight{%-6level}%X{testName}%logger{55} - %maxLen{%msg}{4181}%n%throwable"/>
        </Console>
    </Appenders>
    <Loggers>
        <Logger name="org.apache.commons.beanutils" level="INFO"/>
        <Root level="DEBUG">
            <AppenderRef ref="Console"/>
        </Root>
    </Loggers>
</Configuration>
